@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background: linear-gradient(135deg, #3a6186, #89253e); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80vw;
    height: 75vh;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr 80px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#head {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#bank {
    width: 120px;
    height: 120px;
    justify-self: flex-end;    
}
#title {
    align-self: center;
    justify-self: flex-start;
    font-weight: 700;
    font-size: 2em;
}
#left {
    padding-left: 30px;
    padding-right: 30px;
}
#left p {
    font-size: 1.2em;
}
#left form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.1em;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1.1em;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus {
    border-color: #89253e;
} 

#right {
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    justify-content: center;
}
#right p {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
#right img {
    display: block;
    margin: auto;
    align-self: center;
}

#foot {
    /* background-color:aquamarine; */
    grid-column: 1/3;
    padding: 20px 30% 20px 30%;
}
#foot input {
    width: 100%;
    height: 100%;
    font-size:  1.1em;
    font-weight: 600;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #3a6186, #89253e);
}
#foot input:hover {
    background: linear-gradient(-135deg, #3a6186, #89253e);
    cursor: pointer;
}